
/** undo Plone's portlet styles **/
.portlet, 
.portletHeader, .managedPortlet .portletHeader,
.portletItem, .portletItem ol,
.portletFooter {
    background-color: transparent;
    border: 0px none;
    padding: 0; margin: 0;
    line-height: 1em;
}
.portletItem a:visited,
.portletFooter a:visited {color: inherit;}
.portlet a.tile {display: inline;}

/** Calendar portlet elements **/
.dayPopup {background-color: transparent;}
.portletCalendar dt, .ploneCalendar .weekdays th {background-color: transparent; border: 0px none;}
.ploneCalendar .event, .ploneCalendar .todayevent {background-color: #ccc;}



/** global styles **/
body {
	background:#fff url('img/body_bg.jpg') repeat-x;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#555555;
	margin:0 auto;
	padding:0;
}
body.kupu.documentContent {background: transparent;}
* {margin:0; padding:0;}
.documentByLine {color: #bbb;}


/** element defaults **/
table {
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
}
th, td {padding:5px 10px;}
th {
	color:#fff;
	border-top:3px solid #F66605;
	background-color:#FE8100;
}
td {border-bottom:1px solid #f4f4f4;}
code, blockquote {
	display:block;
	border-left:5px solid #ddd;
	padding:10px;
	margin-bottom:20px;
}
blockquote p {
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0;
	height: 1%;
}
p {
	line-height:1.9em;
	margin-bottom:20px;
}
a {color:#666;}
a:hover {color:#F66605;}
a:focus {color:#000; outline:none;}
a img {border: 0px none;}
fieldset {
	display:block;
	border:none;
	border-top:1px solid #e0e0e0;
}
fieldset legend {
	font-weight:bold;
	font-size:13px;
	padding-right:10px;
	color:#222;
}
fieldset form {padding-top:15px;}
fieldset p label {
	float:left;
	width:150px;
	font-family:Arial, Helvetica, sans-serif;
}
fieldset form input, fieldset form select, fieldset form textarea {
	padding:5px;
	color:#333333;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #ddd;
}
form input {padding: 5px 10px; font-size: 1.2em;}
form input.searchButton {
	background:#FE8100;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	border-bottom:3px solid #F66605;
	color:#ffffff;
	font-weight:bold;
	padding:5px 10px;
	font-size:12px;
}

h1, .h1 {
	font-size:85px;
}
h2, .h2 {
	color:#2f2f2f;
	font-family:Arial,Helvetica,sans-serif;
	font-size:30px;
	font-weight:bold;
	letter-spacing:-2px;
	padding:0 0 5px;
	margin:0;
}
h3, .h3 {
	color:#666666;
	font-size:20px;
	padding-bottom:10px;
}
h4, .h4 {
	padding-bottom:10px;
	font-size:15px;
	color:#F66605;
}
h5, .h5 {
	padding-bottom:10px;
	font-size:13px;
	color:#666666;
}
ul, ol {margin:0 0 35px 35px;}
li {padding-bottom:5px;}



/** Plone form elements **/

.standalone, .documentEditable * .standalone,
.destructive, .documentEditable * .destructive {border: 0px none; background: #666; -moz-border-radius: 6px; -webkit-border-radius: 6px; color: #fff; font-weight: bold; padding: 4px 6px 2px; margin-right: 5px;}
.destructive, .documentEditable * .destructive {background: #666;}
.context, .formControls .actionButtons .button, 
.documentEditable * .context {border: 0px none; background: #F66605; -moz-border-radius: 6px; -webkit-border-radius: 6px; color: #fff; font-weight: bold; padding: 4px 6px 2px; margin-right: 5px;}



/** wrapper **/
div#wrapper {
	width:960px;
	margin:0 auto;
	padding:0;
}

/** sitename+nav **/
div#top {height:100px;}
div#top #portal-logo {padding-top:35px; display: block; float: left;}

div#top ul#portal-globalnav {
		float:right;
	list-style:none;
	margin:0 25px 0;
	padding: 16px 0 0;
	clear: both;
}
div#top ul#portal-globalnav li {
	float:left;
	display:inline-block;
	padding:0;
	overflow: hidden;
	max-width:250px;
}
div#top ul#portal-globalnav li a {
	padding:10px 15px 14px;
	max-height:13px;
	float:left;
	color:#fff;
	text-decoration:none;
	display:block;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	line-height: 1.1em;
}
div#top ul#portal-globalnav li.selected a,
div#top ul#portal-globalnav li.selected a:hover {
	border:none;
	background-color:#F66605;
	text-decoration:none;
}
div#top ul#portal-globalnav li a:hover {text-decoration:underline;}



/** personal tools & actions **/
#topright, .documentActions {
    background-color: #333;
    white-space: nowrap;
    list-style-image: none;
    list-style-type: none;
    margin: -6px 0 0 0;
    height: auto;
    line-height: normal;
    float: right;
    padding: 10px;
    border-radius: 8px; -moz-border-radius: 8px;
}
#topright li, .documentActions li {display: inline; padding: 0 5px;}
#topright a, .documentActions a {text-decoration: none;}
#user-name img {padding: 0px; margin: 0 -3px -3px 0;}
.documentActions {background-color: #ddd;}
.documentActions ul {margin: 0px;}



/** body **/
div#body {
	background-color: transparent;
	padding-top:50px;
	margin-top:10px;
}
div#breadcrumbs {margin-bottom: 22px;}
.portalMessage {background: #ccc; padding: 5px;}
.portalMessage dt {font-weight: bold; font-size: 1.2em;}

#content dt, .searchResults dt {font-size: 1.1em; font-weight: bold; padding: 0px 0px 5px;}
#content #content-history dt {padding-left: 22px;}
#content dd, .searchResults dd {color: #333; margin-bottom: 2em;}

.eventDetails {width: 280px; float: right;}
.eventDetails th {width: 80px;}

.documentDescription {
	font-weight: bold; 
	color: olive;
	/*color: #F66605;*/
}

img + a {padding-left: 3px;}

.newsImageContainer {float:right; margin: 0 0 0.5em 1em; width:200px;}
.image-left {clear:both; float:left; margin:0.5em 1em 0.5em 0;}
.image-right {clear:both; float:right; margin:0.5em;}



/** content+sidebar styles **/
div#content {width:675px;}
div#content {font-size:12px;}
div.column-left {float:left; margin-right:20px;}
div.column-right {float:right;}
div#sidebar {width:230px;}
div#sidebar ul {margin:0; padding:0; list-style:none;}


/** portlet styles **/
div#sidebar .portlet {margin-bottom: 20px;}

div#sidebar .portlet a:link, div#sidebar .portlet a:visited {color: #666;}
div#sidebar .portlet a:hover, div#sidebar .portlet a:active, 
div#sidebar .portlet .portletHeader a:link, 
div#sidebar .portlet .portletHeader a:visited {color: #F66605;}
div#sidebar .portlet .portletHeader a:hover, 
div#sidebar .portlet .portletHeader a:active {color: #666;}

.portletHeader, .portletHeader a {padding-bottom:10px; font-size:15px; color:#F66605;}

div#sidebar .portlet .portletHeader a:link, 
div#sidebar .portlet .portletHeader a.tile {font-size: 12px; text-decoration: none;}
div#sidebar .portletHeader a:hover {text-decoration: underline;}

div#sidebar .portletItem .navTree li, div#sidebar .portletStaticText .portletItem,
div#sidebar .portletFooter, .portletRss .portletItem, .portletLogin .portletItem,
.portletSearch .portletItem, .navTree a.navTreeItemInPath {
	display:block;
	padding: 7px 15px;
	border-bottom:1px solid #ddd;
	color:#777;
}

/** portlet navTree **/
.navTree a.navTreeItemInPath {margin-top: -7px;}
div#sidebar .navTree a img {margin: 0 3px -3px 0;}

/* the nested things in navTree need an even line thing and there are hella extra lines */
div#sidebar .portletItem .navTree li.navTreeFolderish.navTreeItemInPath {margin: 0 -15px -7px; padding: 7px 15px; border-bottom: 0px;}
div#sidebar .portletItem .navTree li.navTreeFolderish.navTreeCurrentNode {border-bottom: 0px;}
div#sidebar .portletItem .navTree li.navTreeFolderish.navTreeCurrentNode > div {border-bottom: 1px solid #ddd; padding-bottom: 7px;}
div#sidebar ul.navTreeLevel1 li,
div#sidebar .portletItem .navTree ul.navTreeLevel1 li.navTreeFolderish.navTreeItemInPath {padding: 7px 15px 7px 25px;}


.portletItemDetails {color: #666; padding: 10px 0;}

div#sidebar .portletItem ul li a {
	text-decoration:none;
	font-family:"Trebuchet MS", Verdana, Arial;
	font-weight:bold;
}
div#sidebar .portletItem ul li a:hover {text-decoration:none;}
div#sidebar .portletHeader { 
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
	margin:0;
	padding:7px 10px;
	border-bottom:1px solid #ddd;
}

/** portlet Search **/
.portletSearch input.searchField {width: 110px;}
.portletSearch .portletItem {border-bottom: 0px;}

/** portlet calendar styles **/
div#sidebar .portletCalendar .portletHeader {padding: 7px 0px;}
.portletCalendar {width: 200px; padding: 0 15px;}
.portletCalendar dt {background-color: transparent; text-align: left;}
.ploneCalendar .weekdays th {background-color: #ccc; border: 0px none;}
.ploneCalendar .event {background-color: #ccc; font-weight: bold;}
.ploneCalendar .todayevent {background-color: #ccc; border: 2px solid #F66605; font-weight: bold;}
.ploneCalendar .todaynoevent {border-collapse: collapse; border: 2px solid #F66605;}



/** footer **/
div#footer {
	background-color:#222;
	padding:10px;
	color:#999;
}
div#footer a {
	color:#999;
	font-weight:bold;
	text-decoration:underline;
}
div#footer h4 {
	color:#999;
	font-size:18px;
}
div#footer form {
	margin:0;
	padding:0;
}
div#footer form input.searchButton {
	background-color:#111;
	border-bottom:none;
	margin:0;
}
div#footer form input.inputLabel {
	background:#333;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	border:none;
	padding:5px 5px 6px;
}
div#footer ul {
	margin:0;
	padding:0;
	list-style:none;
	border-top:1px solid #333;
}
div#footer ul li {
	padding:0;
}
div#footer ul li a {
	text-decoration:none;
	display:block;
	padding:7px 10px;
	border-bottom:1px solid #333;
}
div#footer ul li a:hover {
	background-color:#1f1f1f;
}
div.footer-box {
	margin-right:20px;
	float:left;
}
div.end-footer-box {
	margin-right:0;
	width:220px;
}
div#portal-colophon {
	background-color:#111;
	color:#ffffff;
	padding:5px;
}
div#portal-colophon p {
	text-align:right;
	padding:0;
	margin:0;
	font-size:10px;
}
div#portal-colophon a {
	color:#fff;
	font-weight:bold;
	text-decoration:underline;
}

#footer-about {width: 700px;}
#footer-about p {margin: 0.25em 0;}

#portal-colophon {text-align: right;}
#portal-colophon ul {margin: 0px;}
#portal-colophon ul li {display: inline; padding: 0 0.75em; font-size: 90%;}



/** clear **/
.clear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clear {display: inline-block;}
.clear {display: block;}

/** some Plone styles we still kinda need **/
.hiddenStructure {
	background:none repeat scroll 0 0 transparent;
	border:medium none;
	display:block;
	height:1px;
	margin:-1px 0 0 -1px;
	overflow:hidden;
	padding:0;
	width:1px;
}
.contentActions li, #content .contentActions li dt {padding-bottom: 0px;}
.visualHighlight {background-color: #ccc;}
.discreet {color: #666; font-size: .9em;}
.pullquote {
    padding: 0 1em 0 1em;
    margin: 5px 0 1em 1em;
    font-weight: bold;
    color: #CC9933;
    float: right;
    width: 35%;
    clear: right;
    border-left: 4px solid #F66605;
}
.callout {
    font-weight: bold;
    color: #F66605;
    padding: 0px 1em;
}

/* Album view classes (folder display thumbnail view) */
.photoAlbumEntry {
    float: left;
    position:relative;
    overflow: hidden;
    height: 185px;
    width: 143px;
    margin: 0em;
    padding: 0px 6px 0px 9px;
    text-align: center;
}
.photoAlbumEntry img {
    display: block;
    margin: 0 auto;
}
.photoAlbumEntryWrapper {
    /*display: block;*/
    height: 130px;
    width: 128px;
    margin-bottom: 7px;
}
.photoAlbumEntry a {
    display: block;
    text-decoration: none;
    font-size: .9em;
    height: 169px;
    width: 130px;
    margin: 16px auto 0px;
}
.photoAlbumFolder {}
.photoAlbumEntryTitle {
    color: #F66605;
    display: block;
    width: 128px;
    height: 3.6em;
}
